{% extends 'base.html' %}
{% load wagtailcore_tags static %}

{% block content %}
<main>
  <div class="section">
    <div class="container">
      <div class="columns is-multiline">
	<div class="column is-5 is-offset-1">
	  <h1 class="title is-4">Контактная информация</h1>
	  <div class="columns is-multiline contacts-columns">
	    <div class="column is-3">
	      <p class="title">Телефон:</p>
	    </div>
	    <div class="column is-9">
	      <a href="tel:{{ page.phone_number }}">
		<span class="icon">
		  <i class="fas fa-phone"></i>
		</span>
		+7 727 328 89 89
	      </a>
	    </div>
	    <div class="column is-3">
	      <p class="title">Email:</p>
	    </div>
	    <div class="column is-9">
	      <a href="mailto:{{ page.email }}">
		<span class="icon">
		  <i class="fas fa-envelope"></i>
		</span>
		{{ page.email }}
	      </a>
	    </div>
	    <div class="column is-3">
	      <p class="title">Адрес:</p>
	    </div>
	    <div class="column is-9">
	      <p class="subtitle">
		<span class="icon">
		  <i class="fas fa-map-marker-alt"></i>
		</span>
		{{ page.address }}
	      </p>
	    </div>
	  </div>

	</div>
	<aside class="column is-4 is-offset-1">
	  <h2 class="title is-4">Написать нам:</h2>
	  <form id="contact_form" target="{% pageurl page %}" method="POST">
	    {% csrf_token %}
	    <div class="field is-horizontal">
	      <div class="field-body">
		<div class="field">
		  <p class="control is-expanded has-icons-left">
		    <input name="name" required id="id_name" class="input" type="text" placeholder="Ваше Имя">
		    <span class="icon is-small is-left">
		      <i class="fas fa-user"></i>
		    </span>
		  </p>
		</div>
	      </div>
	    </div>
	    <div class="field is-horizontal">
	      <div class="field-body">
		<div class="field">
		  <p class="control is-expanded has-icons-left has-icons-right">
		    <input name="email" required id="id_email" class="input" type="email" placeholder="Ваш Email">
		    <span class="icon is-small is-left">
		      <i class="fas fa-envelope"></i>
		    </span>
		  </p>
		</div>
	      </div>
	    </div><div class="field is-horizontal">
	      <div class="field-body">
		<div class="field">
		  <div class="control">
		    <textarea name="message" required id="id_message" class="textarea" placeholder="Ваше сообщение"></textarea>
		  </div>
		</div>
	      </div>
	    </div>
	    <div class="field is-horizontal">
	      <div class="field-body">
		<div class="field">
		  <div class="control">
		    <button type="submit" id="submit_btn" class="button is-medium is-dark is-fullwidth">Отправить</button>
		  </div>
		</div>
	      </div>
	    </div>
	    <div id="result"></div>
	  </form>
	</aside>
      </div>
    </div>
  </div>
  <div class="hero is-large">
    <iframe class="google-map" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJjUWvDaBpgzgRO-vT1PhaYx0&key=AIzaSyCGXH7uCBYIklqo5GXZvp-ufLF_hP809ME" allowfullscreen></iframe>
  </div>
</main>
{% endblock %}
