{% extends 'regular.html' %}
{% load wagtailcore_tags static %}

{% block body %}
<!-- Google Map -->
<div class="google-map">
    <div data-address="Belt Parkway, Queens, NY, United States" id="map-canvas"></div>
</div>
<!-- End Google Map -->


<!-- Contact Section -->
<section class="page-section" id="contact">
    <div class="container relative">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-text align-center mb-70 mb-xs-40">
                    {{ page.body|richtext }}
                </div>
            </div>
        </div>

        <div class="row mb-60 mb-xs-40">

            <div class="col-md-8 col-md-offset-2">
                <div class="row">

                    <!-- Phone -->
                    <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                            <div class="ci-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="ci-title font-alt">
                                Контактный телефон
                            </div>
                            <div class="ci-text">
                                {{ page.phone_number }}
                            </div>
                        </div>
                    </div>
                    <!-- End Phone -->

                    <!-- Address -->
                    <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                            <div class="ci-icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="ci-title font-alt">
                                Адрес
                            </div>
                            <div class="ci-text">
                                {{ page.address }}
                            </div>
                        </div>
                    </div>
                    <!-- End Address -->

                    <!-- Email -->
                    <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                            <div class="ci-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="ci-title font-alt">
                                Email
                            </div>
                            <div class="ci-text">
                                <a href="mailto:{{ page.email }}">{{ page.email }}</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Email -->

                </div>
            </div>

        </div>

        <!-- Contact Form -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

              <form class="form contact-form" id="contact_form" target="{% pageurl page %}" method="POST">
                {% csrf_token %}
                    <div class="clearfix">

                        <div class="cf-left-col">

                            <!-- Name -->
                            <div class="form-group">
                                <input type="text" name="name" required id="id_name" class="input-md round form-control" placeholder="Ваше имя" pattern=".{3,100}" required>
                            </div>

                            <!-- Email -->
                            <div class="form-group">
                                <input type="email" name="email" required id="id_email" class="input-md round form-control" placeholder="Ваш Email" pattern=".{5,100}" required>
                            </div>

                        </div>

                        <div class="cf-right-col">

                            <!-- Message -->
                            <div class="form-group">
                                <textarea name="message" required id="id_message" class="input-md round form-control" style="height: 84px;" placeholder="Сообщение"></textarea>
                            </div>

                        </div>

                    </div>

                    <div class="clearfix">

                        <div class="cf-left-col">

                            <!-- Inform Tip -->
                            <div class="form-tip pt-20">
                                <i class="fa fa-info-circle"></i> Все поля обязательны для отправки сообщения
                            </div>

                        </div>

                        <div class="cf-right-col">

                            <!-- Send Button -->
                            <div class="align-right pt-10">
                                <button class="submit_btn btn btn-mod btn-medium btn-round" id="submit_btn">Отправить</button>
                            </div>

                        </div>

                    </div>



                    <div id="result"></div>
                </form>

            </div>
        </div>
        <!-- End Contact Form -->

    </div>
</section>

{% endblock %}

{% block extra_js %}
<script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: {{ self.latitude }}, lng: {{ self.longitude }}};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map-canvas'), {zoom: 17, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
</script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5jxfDzzdoUeTuuxMfuOHS-HcU4Acf0OE&callback=initMap">
</script>
{% endblock %}
