{% extends "base.html" %}
{% load wagtailcore_tags menu_tags %}

{% block title_suffix %}{% endblock %}

{% block extra_head %}
<meta name="google-site-verification" content="NM0IPvP4QDlVpg00kGeCm-wQMPmUrplq7SBsxhCek-M" />
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "{{ self.get_site.root_url }}",
    "inLanguage": "ru",
    "name": "{{ self.get_site.site_name }}",
    "description": "{{ self.search_description }}"
}
</script>

{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

{% for block in page.body %}
  {% include_block block %}
{% endfor %}

{% endblock %}
