{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}

<main>
  <div class="section">
    <div class="container">
      <div class="columns">
	<div class="column is-8 is-offset-2">
	  <article>
	    {% include 'partials/page_header.html' %}
	    <div class="content">
	      {{ page.body|richtext }}
	    </div>
	  </article>
	  <div class="service-card-list" itemscope itemtype="https://schema.org/ItemList https://schema.org/Service">
	    <div class="columns">
	      {% for service in services %}
	      <div class="column">
		<article class="card service-card" itemprop="itemListElement" itemscope itemtype="https://schema.org/Service">
		  <header class="card-header">
		    <h2 class="card-header-title" itemprop="name">
		      {{ service.title }}
		    </h2>
		  </header>
		  <div class="card-content" itemprop="slogan">
		    {{ service.short_description }}
		  </div>
		  <footer class="card-footer">
		    <link itemprop="url" href="{% pageurl service %}">
		    <a href="{% pageurl service %}" class="button is-light is-fullwidth">
		      <span>Подробнее</span>
		      <span class="icon"><i class="fas fa-arrow-right"></i></span>
		    </a>
		  </footer>
		</article>
	      </div>
	      {% endfor %}
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
