{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}

<main itemscope itemtype="http://schema.org/Service">
  <div class="section">
    <div class="container">
      <div class="columns">
	<div class="column is-8 is-offset-2">
	  <article>
	    {% include 'partials/page_header.html' %}
	    <meta itemprop="serviceType" content="{{ page.subtitle }}">
	    <div itemprop="provider" itemscope itemtype="https://schema.org/Organization">
	      <meta itemprop="name" content="{{ self.get_site.site_name }}">
	    </div>
	    <div itemprop="areaServed" itemscope itemtype="https://schema.org/City">
	      <meta itemprop="name" content="Алматы">
	    </div>
	    <div itemprop="areaServed" itemscope itemtype="https://schema.org/City">
	      <meta itemprop="name" content="Астана">
	    </div>
	    <div itemprop="areaServed" itemscope itemtype="https://schema.org/Country">
	      <meta itemprop="name" content="Казахстан">
	    </div>
	    <div class="content">
	      {{ page.body|richtext }}
	    </div>
	  </article>
	  <div class="service-card-list" itemprop="hasOfferCatalog" itemscope itemtype="https://schema.org/OfferCatalog">
	    <div class="columns">
	      {% for service in services %}
	      <div class="column" itemprop="itemListElement" itemscope itemtype="https://schema.org/Offer">
		<article class="card service-card" itemprop="itemOffered" itemscope itemtype="https://schema.org/Service">
		  <header class="card-header">
		    <h2 class="card-header-title" itemprop="name">
		      {{ service.title }}
		    </h2>
		  </header>
		  <link itemprop="url" href="{% pageurl service %}">
		  <div class="card-content">
		    {{ service.short_description }}
		  </div>
		  <footer class="card-footer">
		    <a href="{% pageurl service %}" class="button is-light is-fullwidth">
		      <span>Подробнее</span>
		      <span class="icon"><i class="fas fa-arrow-right"></i></span>
		    </a>
		  </footer>
		</article>
	      </div>
	      {% endfor %}
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
