{% extends "base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags puput_tags %}

{% block content %}

<main>
  <div class="section">
    <div class="container">
      {% include 'partials/page_header.html' %}
      <div class="columns">
	<div class="column is-7 is-offset-1">
	{% block blog_content %}{% endblock blog_content %}
	</div>
	<div class="column is-3">
	  <aside class="menu">
	    {% categories_list %}
	    {% tags_list %}
	    <form method="GET" action="{% routablepageurl blog_page 'entries_search' %}">
	      <div class="field has-addons">
		<div class="control is-expanded">
		  <input name="q" class="input" type="search" placeholder="Поиск публикации">
		</div>
		<div class="control">
		  <button class="button is-dark" type="submit">
		    <span class="icon"><i class="fas fa-search"></i></span>
		  </button>
		</div>
	      </div>
	    </form>
	  </aside>
	</div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
