{% extends "puput/base.html" %}

{% load i18n wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags puput_tags %}

{% block title %}
    {% if search_term %}
        {{ search_term }} | {{ blog_page.title }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock title %}

{% block meta_description %}
    {% if search_term %}
        {% trans 'Entries for' %} {{ search_type }} {{ search_term }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock meta_description %}

{% block blog_content %}

{% if search_term %}
<div class="searchTerm">
  <span class="lead">
    Публикации по запросу "<strong>{{ search_term }}</strong>":
  </span>
</div>
<br>
{% endif %}

{% for entry in entries %}

<article class="card blog-card">
  <div class="card-image">
    <a href="{% entry_url entry blog_page %}">
      {% include 'partials/image_float.html' with img=entry.header_image %}
    </a>
  </div>
  <div class="card-content">
    <a href="{% entry_url entry blog_page %}">
      <p class="title">{{ entry.title }}</p>
      {% if entry.excerpt %}
      {{ entry.excerpt|richtext }}
      {% else %}
      {{ entry.body|richtext|truncatewords_html:70 }}
      {% endif %}
    </a>
  </div>
</article>

{% empty %}

<span>По Вашему запросу ничего не найдено</span>

{% endfor %}

{% endblock blog_content %}
