{% extends "base.html" %}
{% load i18n wagtailcore_tags wagtailroutablepage_tags puput_tags %}

{% block breadcrumb_title %}{{ self.get_parent.title }}{% endblock %}

{% block content %}

<main>
  <article class="section">
    <div class="container">
      <div class="columns">
	<div class="column is-8 is-offset-2">
	  <header>
	    <h1 class="title">{{ self.title }}</h1>
	    <p class="subtitle">{{ self.date|date:"SHORT_DATE_FORMAT" }}</p>
	  </header>
	  <div class="blog-post-image">
	    {% include 'partials/image_large_float.html' with img=self.header_image %} 
	  </div>
	  <div class="content">{{ self.body|richtext }}</div>
	  <div class="tags are-medium">
	    {% for tag in self.tags.all %}
	    <span class="tag">
	      <a href="{% routablepageurl blog_page "entries_by_tag" tag.slug %}">{{ tag }}</a>
	    </span>
	    {% endfor %}
	  </div>
	  <div class="has-text-centered">
	    <a class="button is-dark is-outlined" href="{% pageurl blog_page %}">
	      <span class="icon"><i class="fas fa-arrow-left"></i></span>
	      <span>Все публикации</span>
	    </a>
	  </div>
	</div>
      </div>
    </div>
  </article>
</main>

{% endblock %}
