{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags puput_tags %}
<!-- Blog Section -->
<section class="page-section" id="news">
    <div class="container relative">

        <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
            Статьи

            <a href="{% slugurl 'blog' %}" class="section-more right">Перейти в блог <i class="fa fa-angle-right"></i></a>

        </h2>

        <div class="row multi-columns-row">

            {% for entry in entries %}
            <!-- Post Item -->
            <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.1s" data-wow-duration="2s">

                {% image entry.header_image fill-1140x642 as header_image %}

                <div class="post-prev-img">
                    <a href="{% pageurl entry %}"><img src="{{ header_image.url }}" alt="{{ entry.header_image.title }}" /></a>
                </div>

                <div class="post-prev-title font-alt">
                    <a href="{% pageurl entry %}">{{ entry.title }}</a>
                </div>

                <div class="post-prev-info font-alt">
                    <i class="fa fa-clock-o"></i> {{ entry.date|date:"SHORT_DATE_FORMAT" }}
                </div>

                <div class="post-prev-text">
                  {% if entry.excerpt %}
                      {{ entry.excerpt|richtext }}
                  {% else %}
                      {{ entry.body|richtext|truncatewords_html:70 }}
                  {% endif %}
                </div>

                <div class="post-prev-more">
                    <a href="{% pageurl entry %}" class="btn btn-mod btn-gray btn-round">Читать <i class="fa fa-angle-right"></i></a>
                </div>

            </div>
            <!-- End Post Item -->
            {% endfor %}

        </div>

    </div>
</section>
<!-- End Blog Section -->
