{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}
<main itemscope itemtype="https://schema.org/CollectionPage">
  <link itemprop="url" href="{% pageurl page %}">
  <div class="section projects">
    <div class="container">
      <header class="header">
	<h1 class="title">Наши проекты</h1>
	<p class="subtitle">Здесь указаны последние работы в портфолио</p>
      </header>
      <div class="columns is-multiline">
	{% for project in projects.order_by|dictsort:"order" %}
	<div class="column is-4" itemprop="hasPart" itemscope itemtype="https://schema.org/CreativeWork">
	  <link itemprop="url" href="{% pageurl project %}">
	  <meta itemprop="name" content="{{ project.title }}">
	  {% include 'partials/project_card.html' %}
	</div>
	{% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
