{% extends 'base.html' %}

{% block content %}
<main>
  <div class="section projects">
    <div class="container">
      <header class="header">
	<h1 class="title">Наши проекты</h1>
	<p class="subtitle">Здесь указаны последние работы в портфолио</p>
      </header>
      <div class="columns is-multiline">
	{% for project in projects.order_by|dictsort:"order" %}
	<div class="column is-4">
	  {% include 'partials/project_card.html' %}
	</div>
	{% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
