{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<main>
  <article itemscope itemtype="https://schema.org/CreativeWork">
    <div itemprop="author" itemscope itemtype="https://schema.org/Organization">
      <meta itemprop="name" content="{{ self.get_site.site_name }}" />
    </div>
    <link itemprop="url" href="{% pageurl page %}">
    <meta itemprop="headline" content="{{ page.subtitle }}" />
    <div id="project-info" class="section">
      <div class="container">

	<div class="columns">
	  <div class="column is-5">
	    <h1 class="title" itemprop="name">
	      {{ page.title }}
	    </h1>

	    <table class="table">
	      {% if self.year %}
	      <tr>
		<th>Год:</th>
		<td itemprop="copyrightYear">{{ self.year }}</td>
	      </tr>
	      {% endif %}
	      {% if self.location %}
	      <tr>
		<th>Расположение:</th>
		<td itemprop="locationCreated">{{ self.location }}</td>
	      </tr>
	      {% endif %}
	      {% if self.area_size %}
	      <tr>
		<th>Общая площадь:</th>
		<td>{{ self.area_size }}</td>
	      </tr>
	      {% endif %}
	      {% if self.authors %}
	      <tr>
		<th>Авторы:</th>
		<td>{{ self.authors }}</td>
	      </tr>
	      {% endif %}
	      {% if self.status %}
	      <tr>
		<th>Статус реализации:</th>
		<td>{{ self.status }}</td>
	      </tr>
	      {% endif %}
	    </table>
	  </div>
	  <div class="column is-7">
	    {% if page.description %}
	    <div class="content" itemprop="description">{{ page.description|safe }}</div>
	    {% endif %}
	  </div>
	</div>


      </div>
    </div>

    <div class="section">
      <div class="container">
	<div class="columns is-multiline">
	  {% for project_image in self.images.all %}
	  <div class="column is-{{ project_image.size }}">
	    {% image project_image.image original as original %}
	    <div itemprop="{% if forloop.first %}image{% else %}associatedMedia{% endif %}" itemscope itemtype="https://schema.org/ImageObject">
	      <meta itemprop="contentUrl" content="{{ original.url }}" />
	      <meta itemprop="height" content="{{ original.height }}" />
	      <meta itemprop="width" content="{{ original.width }}" />
	      <meta itemprop="caption" content="{{ original.alt }}" />
	    </div>
	    {% include 'partials/image_large_float.html' with img=project_image.image %}
	  </div>
	  {% endfor %}
	</div>

      </div>
    </div>
  </article>
</main>
{% endblock %}
