{% load wagtailcore_tags wagtailimages_tags %}

<div id="home-about" class="hero is-warning is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-variable is-6">
	<div class="column is-3">
	  <p class="subtitle">
	    {{ self.header_text }}
	  </p>
	</div>
	<div class="column is-9">
	  <div class="content">
	    {{ self.content|safe }}
	    <p>
	      UP2DATE специализируется на разработке дизайна интерьеров частных и коммерческих объектов. Мы проектируем кафе, рестораны, бары, офисы и частные апартаменты с 2015 года. Работаем преимущественно в современном стиле и каждый наш проект уникален и проработан до мельчайших деталей.
	    </p>
	    <p>
	      Наша команда состоит из архитекторов и дизайнеров. Трепетное отношение к делу позволяют учитывать все нюансы проектирования и строительства. В скором будущем мы планируем запустить архитектурное направление.
	    </p>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
