{% load wagtailcore_tags wagtailimages_tags %}
<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
	<div class="columns">
	  {% for customer in self %}
	  <div class="column">
	    {% image customer.logo width-16 as thumbnail %}
	    {% image customer.logo width-64 as full_sized %}
	    <img class="lazy" src="{{ thumbnail.url }}" data-src="{{ full_sized.url }}" alt="Placeholder image">
	  </div>
	  {% endfor %}
	</div>
      </div>
    </div>
  </div>
</div>
