<section id="projects">
  <div id="home-projects" class="section is-medium">
    <div class="container has-text-centered">
      <header class="header">
	<h2 class="title">{{ self.title }}</h2>
	<p class="subtitle">{{ self.subtitle }}</p>
      </header>
      <div class="columns">
	{% for project in self.projects %}
	<div class="column is-4">
	  {% include 'partials/project_card.html' %}
	</div>
	{% endfor %}
      </div>
    </div>
  </div>

  <div class="hero call-to-action">
    <div class="hero-body">
      <div class="container has-text-centered">
	<p class="title">
	  {{ self.portfolio_link_title }}
	</p>
	<a class="button is-medium" href="{{ self.portfolio_link }}">{{ self.portfolio_link_text }}</a>
      </div>
    </div>
  </div>
</section>
