{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags puput_tags %}

<section id="projects">
  <div id="home-projects" class="section is-medium">
    <div class="container has-text-centered">
      <header class="header">
	<h2 class="title">{{ self.title }}</h2>
	<p class="subtitle">{{ self.subtitle }}</p>
      </header>
      <div class="columns">
	{% for project in self.projects %}
	<div class="column is-one-third">
	  <div class="card project-card">
	    <a href="project.html">
	      <div class="card-image">
		<figure class="image">
		  {% image project.images.first.image width-32 as thumbnail %}
		  {% image project.images.first.image width-640 as full_sized %}
		  <img class="lazy" src="{{ thumbnail.url }}" data-src="{{ full_sized.url }}" alt="Placeholder image">
		</figure>
	      </div>
	      <div class="card-content">
		<div class="columns">
		  <div class="column">
		    <p class="card-title">{{ project.title }}</p>
		  </div>
		  <div class="column">
		    <p class="card-subtitle">{{ project.subtitle }}</p>
		  </div>
		</div>
	      </div>
	    </a>
	  </div>
	</div>
	{% endfor %}
      </div>
    </div>
  </div>

  <div class="hero call-to-action">
    <div class="hero-body">
      <div class="container has-text-centered">
	<p class="title">
	  Хотите увидеть больше работ?
	</p>
	<a class="button is-medium" href="{{ self.portfolio_link }}">Перейти в портфолио</a>
      </div>
    </div>
  </div>
</section>
