{% load static wagtailuserbar menu_tags compress home_tags %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="yandex-verification" content="dbf5a470212740ea" />
    <title>
      {% block title %}
      {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
      {% endblock %}
    </title>
    <meta name="description" content="{% block meta_description %}{{ self.search_description }}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block extra_head %}{% endblock %}

    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

    {# Global stylesheets #}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endcompress %}

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Scada:400,700&amp;subset=cyrillic" rel="stylesheet">

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
  </head>

  <body class="{% block body_class %}appear-animate{% endblock %}">
    {% wagtailuserbar %}

    {% block nav %}
    {% include 'partials/navbar.html' with logo='logo_black.png' %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
    <footer class="footer">
      <div class="container">
	<div class="level">
	  <div class="level-left">
	    <a href="/">
	      <figure class="image is-64x64">
		<img src="/media/original_images/logo_black.png" >
	      </figure>
	    </a>
	  </div>
	  <div class="level-right">
	    {% flat_menu 'contacts' %}
	  </div>
	</div>
	<div class="level">
	  <div class="level-left">
	    © 2019 {{ self.get_site.site_name }}
	  </div>
	  <div class="level-right">
	    {% social_links %}
	  </div>
	</div>
      </div>
    </footer>
    {% endblock %}

    {% compress js %}
    <script src="{% static 'js/main.js' %}"></script>
    {% endcompress %}

    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}
  </body>
</html>
