{% load static wagtailuserbar menu_tags compress %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="yandex-verification" content="dbf5a470212740ea" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="{% block meta_description %}{{ self.search_description }}{% endblock %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Favicons -->
        <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

        {# Global stylesheets #}

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/vertical-rhythm.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/et-line.css' %}">
        {% compress css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/style-responsive.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
        {% endcompress %}

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Scada:400,700&amp;subset=cyrillic" rel="stylesheet">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}appear-animate{% endblock %}">
        {% wagtailuserbar %}

        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>

        <div class="page" id="top">

          {% block nav %}
          <!-- Navigation panel -->
          <nav class="main-nav js-stick">
              <div class="full-wrapper relative clearfix">
                  <!-- Logo ( * your text or image into link tag *) -->
                  <div class="nav-logo-wrap local-scroll">
                      <a href="/" class="logo">
                          <img src="/media/original_images/logo_black.png" alt="" />
                      </a>
                  </div>
                  <div class="mobile-nav">
                      <i class="fa fa-bars"></i>
                  </div>
                  <!-- Main Menu -->
                  <div class="inner-nav desktop-nav">
                      {% main_menu max_levels=2 use_specific=USE_SPECIFIC_TOP_LEVEL template="menus/main_menu.html" sub_menu_template="menus/sub_menu.html" %}
                  </div>
              </div>
          </nav>
          <!-- End Navigation panel -->
          {% endblock %}

          {% block content %}{% endblock %}

          <!-- Foter -->
          <footer class="page-section bg-gray-lighter footer pb-60">
              <div class="container">

                  <!-- Footer Logo -->

                  <!-- End Footer Logo -->

                  <!-- Social Links -->
                  <div class="footer-social-links mb-110 mb-xs-60">
                      <a href="#" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                      <a href="#" title="Youtube" target="_blank"><i class="fa fa-youtube"></i></a>
                      <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                  </div>
                  <!-- End Social Links -->

                  <!-- Footer Text -->
                  <div class="footer-text">

                      <!-- Copyright -->
                      <div class="footer-copy font-alt">
                          <a href="" target="_blank">&copy; Update Architects 2018</a>.
                      </div>
                      <!-- End Copyright -->

                      <div class="footer-made">
                          Made with love for great people.
                      </div>

                  </div>
                  <!-- End Footer Text -->

               </div>


               <!-- Top Link -->
               <div class="local-scroll">
                   <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
               </div>
               <!-- End Top Link -->

          </footer>
          <!-- End Foter -->


        </div>

        <script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/SmoothScroll.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.localScroll.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.viewport.mini.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.countTo.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.appear.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.sticky.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.parallax-1.1.3.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.fitvids.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.simple-text-rotator.min.js' %}"></script>
        {% compress js %}
        <script type="text/javascript" src="{% static 'js/all.js' %}"></script>
        {% endcompress %}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
