{% extends "regular.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags puput_tags %}

{% block body %}
    <section class="page-section">
        <div class="container relative">

            <div class="row">

                <!-- Content -->
                <div class="col-sm-8">

                {% block blog_content %}

                {% endblock blog_content %}

                </div>
                <!-- End Content -->

                <!-- Sidebar -->
                <div class="col-sm-4 col-md-3 col-md-offset-1 sidebar">

                    <!-- Search Widget -->
                    <div class="widget">
                        <form name="search_form" class="form-inline form" method="get" action="{% routablepageurl blog_page 'entries_search' %}">
                            <div class="search-wrap">
                                <button class="search-button animate" type="submit" title="Найти">
                                    <i class="fa fa-search"></i>
                                </button>
                                <input type="search" name="q" class="form-control search-field" placeholder="Поиск...">
                            </div>
                        </form>
                    </div>
                    <!-- End Search Widget -->

                    <!-- Widget -->
                    <div class="widget">

                        <h5 class="widget-title font-alt">Категории</h5>

                        <div class="widget-body">
                            {% categories_list %}
                        </div>

                    </div>
                    <!-- End Widget -->

                    <!-- Widget -->
                    <div class="widget">

                        <h5 class="widget-title font-alt">Тэги</h5>

                        <div class="widget-body">
                            {% tags_list %}
                        </div>

                    </div>
                    <!-- End Widget -->

                    <!-- Widget -->
                    <div class="widget">

                        <h5 class="widget-title font-alt">Недавние публикации</h5>


                        <div class="widget-body">
                            {% recent_entries %}
                        </div>

                    </div>
                    <!-- End Widget -->

                </div>
                <!-- End Sidebar -->
            </div>

        </div>
    </section>
    <!-- End Section -->
{% endblock body %}
